.hidden {
  display: none !important;
}

.progressDialog {
  margin: 0 auto;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
}

.progressDialog #message {
  width: 100px;
  float:left;
}

#spinner {
  width: 10px;
  height: 10px;
  background-color: #333;
  float:left;
  margin: 5px auto;
}

.animated {
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}